# see https://www.kennethreitz.org/essays/a-better-pip-workflow
black
boto3
bs4
cached-property
celery
coverage
docutils
Django
django-allauth
django-auto-repr
django-celery-beat
django-celery-results
django-dotenv
django-extensions
django-filter
django-localflavor
django-polymorphic
django-rest-auth
django-rest-swagger
django-storages
djangorestframework
Faker
ijson
ipdb
ipython
jsonfield
matplotlib
notebook
pandas
pre-commit
pyarrow
pycurl
psycopg2-binary
redis
requests
rise
s3fs
scipy
simple-terminal
sklearn
us
Werkzeug
xlrd
