# see https://www.kennethreitz.org/essays/a-better-pip-workflow
boto3
bs4
cached-property
celery
coverage
docutils
Django
django-allauth
django-auto-repr
django-celery-beat
django-celery-results
django-cors-headers
django-dotenv
django-extensions
django-filter
django-localflavor      # Country-specific Django helpers
django-polymorphic      #
django-rest-auth
django-rest-swagger
django-storages         # Support for many storage backends in Django
djangorestframework
dynamic-rest            # Adds Dynamic API support to Django REST Framework
Faker
# ijson
# ipdb
ipython
jsonfield               # A reusable Django field that allows you to store validated JSON in your model
matplotlib
pandas
pyarrow                 # Apache Arrow
# pycurl
psycopg2-binary         # PostgreSQL Database Adapter
requests                # HTTP
s3fs                    # Filesystem interface over S3
scipy                   # Scientific Library for Python
sklearn                 # A set of python modules for machine learning and data mining
us                      # A package for easily working with US and state metadata
Werkzeug                # Comprehensive WSGI web application library
