# see https://www.kennethreitz.org/essays/a-better-pip-workflow
black
bs4
cached-property
Django
django-allauth
django-extensions
django-localflavor
django-polymorphic
django-rest-auth
django-rest-swagger
djangorestframework
Faker
ipdb
ipython
jsonfield
matplotlib
notebook
pandas
pre-commit
pyarrow
requests
rise
scipy
sklearn
us
Werkzeug
xlrd
