packages:
  yum:
    openssl-devel: []
    libcurl-devel: []

container_commands:
  # Reinstall PyCurl with correct ssl backend
  05_reinstall_pycurl:
    command: |
      pip install --upgrade pip
      pip uninstall -y pycurl
      pip install --global-option='--with-openssl' pycurl

  # Run customize script for celery initialization
  10_customize:
    command: "deployment_scripts/customize.sh"

  # Load static assets into S3
  20_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

  # Run database migrations
  30_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

# Python packages with C extensions
files:
  # Run post_deploy script
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_apps":
    mode: "000555"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      /opt/python/current/app/deployment_scripts/post_deploy.sh

  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}

  # Pass authentication headers
  "/etc/httpd/conf.d/wsgi-enable-headers.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPassAuthorization On

  # Redirect http traffic to https
  "/etc/httpd/conf.d/ssl_rewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
      RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>

# Path to wsgi.py
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: beo_datastore/wsgi.py
